* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #161F30;
    display: grid;
    grid-template-rows: 176px 1fr;
    grid-template-columns: 280px 1fr;
    grid-template-areas:
    "sidebar navbar"
    "sidebar content";
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}

/* Left container NAV */
.left-container {
    background-color: #217373;
    grid-area: sidebar;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.dashboard {
    height: 20px;
}

.main-nav-items {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

img {
    height: 22px;
}

.main-ul {
    display: grid;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 1.5em;
    margin-top: 15px;
    color: white;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.second-ul {
    display: grid;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-right: 40px;
    gap: 1.5em;
    margin-top: 15px;
    color: white;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.secondary-nav-items {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

li {
    transition: transform 300ms ease-out;
    cursor: pointer;
}

li:hover {
    transform: scale(1.1);
}

/* Profile segment */
.profile-info {
    grid-area: navbar;
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    height: 150px;
    background-color: #173540;
}

.search {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: start;
}

input {
    flex: 1;
}
input {
    height: 26px;
    border-radius: 10px;
    border: none;
    background-color:rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 14px;
    text-align: center;
}

input:focus {
    outline: none !important;
    border: 2px solid #217373cb;
}

.magnify {
    padding: 10px;
    cursor: pointer;
    transition: transform 300ms ease-out;
}

.magnify:hover {
    transform: scale(1.1);
}

.profile-info-small {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2em;
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    margin-right: 100px;
}

.small-logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: contain;
}

.large-logo {
    object-fit: contain;
    height: 64px;
    width: 64px;
    border-radius: 50%;
}

.lg-logo {
    height: 64px;
    width: 64px;
    object-fit: contain;
    border-radius: 50%;
}

.profile-info-lg {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1em;
    color: white;
    font-weight: 500;
    padding: 0px 15px;
    letter-spacing: 2px;
}

.info-container {
    font-weight: 400;
}

.info-container p {
    opacity: 50%;
    margin-bottom: 5px;
}

.info-container h2 {
    font-size: 16px;
}

/* Profile Buttons */
.profile-btns {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2em;
    margin-right: 100px;
}

.profile-btns div {
    background-color: #217373;
    padding: 10px 25px;
    border-radius: 20px;
    color: white;
    transition: transform 300ms ease-out;
}

.profile-btns div:hover {
    cursor: pointer;
    transform: scale(0.9);
}

.project-section {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    margin: 20px 0px;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1em;
}

.main-terminal {
    display: grid;
    grid-template-columns: 60% 25%;
    grid-template-areas:
        "projects announce"
        "projects trending";
}

.grid-container {
    display: grid;
    align-items: start;
    gap: 30px;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    transition: transform 300ms ease-out;
    margin: 20px 20px;
}

.projects {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-area: projects;
}

.items h1 {
    font-size: 18px;
    font-weight: 900;
    padding-bottom: 10px;
}

.items:hover {
    transform: scale(1.05);
    cursor: default;
}

.test {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.announcement {
    background-color: #173540;
    grid-area: announce;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    transition: transform 300ms ease-out;
}

.announcement:hover {
    transform: scale(1.05);
    cursor: default;
}

.announcement h1 {
    font-size: 18px;
    color: white;
    font-weight: 900;
    padding-bottom: 10px;
    margin: 20px 0px;
}

.announcement p {
    margin-bottom: 40px;
    color:white;
}

.trending {
    grid-area: trending;
    height: 50%;
}